<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UpCare - Website monitoring application</title>
    <meta name="title" content="UpCare - Website monitoring application" />
    <meta name="description" content="Monitor your website availability and performance." />

    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="/js/script.js"></script>
  </head>

  <body>