<%- include('./partials/header'); %>
<section class="container page-title">
  <h1>Stats</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor eget nisi at aliquam</p>
</section>
<section class="container">
  <article style="text-align: center">coming soon</article>
</section>
<%- include('./partials/footer'); %>
